<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui>
<gui name="kateflowdebug" library="kateflowplugin" version="2" translationDomain="kateflowplugin">
  <MenuBar>
    <Menu name="flow_debug_menu">
      <Text>&amp;Debug</Text>
      <Action name="debug"/>
      <Action name="kill"/>
      <Separator/>
      <Action name="toggle_breakpoint"/>
      <Action name="step_in"/>
      <Action name="step_over"/>
      <Action name="step_out"/>
      <Action name="continue"/>
    </Menu>
  </MenuBar>
  <Menu name="ktexteditor_popup">
    <Action name="popup_flow_debug"/>
  </Menu>
  <ToolBar name="flow_debug_toolbar">
    <text>Flow debug</text>
    <Action name="toggle_breakpoint"/>
    <Action name="step_in"/>
    <Action name="step_over"/>
    <Action name="step_out"/>
    <Action name="continue"/>
  </ToolBar>
</gui>
<!-- kate: space-indent on; indent-width 4; replace-tabs on; -->
