<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui>
<gui name="kateflowmenu" library="kateflowplugin" version="2" translationDomain="kateflowplugin">
  <MenuBar>
    <Menu name="flow">
      <Text>&amp;Flow</Text>
      <Action name="compile"/>
      <Separator/>
      <Action name="build"/>
      <Action name="run"/>
      <Action name="debug"/>
      <Action name="force_build"/>
    </Menu>
  </MenuBar>
  <Menu name="ktexteditor_popup">
    <Action name="popup_flow_menu"/>
  </Menu>
</gui>
<!-- kate: space-indent on; indent-width 4; replace-tabs on; -->
