# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto
# Explicitly declare text files you want to always be normalized and converted
# to unix line endings on checkout.
*.flow text eol=lf
*.lingo text eol=lf
*.py text eol=lf
*.sql text eol=lf
# Windows stuff, so let's leave it alone. (I have not found
# "text eol=crlf" to be reliable. - ST 4/23/15)
# Note that 'binary' means '-text -diff', and we still want diffs.
*.sln -text
*.ini -text
*.bat -text
*.cmd -text
*.xaml -text
*.csproj -text
*.appxmanifest -text
*.resx -text
# Denote all files that are truly binary and should not be modified.
*.tlog binary
Qt* filter=lfs diff=lfs merge=lfs -text
