# Match these anywhere
.compile-errors
.DS_Store
.vs
.vscode
a.out
gmon.out
Manifest.txt
tmp.flow
flowc_server.log

flowgen/
javagen/
obj/
objc/

*[_-]local.*
*.bak
*.bytecode
*.class
*.creator
*.debug
*.files
*.flow-callgraph
*.flow-ids
*.flow.byte
*.includes
*.js.map
*.o
*.psess
*.pyc
*.sublime-workspace
*.swp
*.tmp
*.VC.db
*.vcxproj.user
*.vsp
*.vspx
*~

www/*.js
!www/sw.min.js

# Match these from root directory
/.log
/object/

/build-QtByteRunner-Desktop*-Debug
/build-QtByteRunner-Desktop*-Release

/platforms/common/cpp/asmjit
/tools/flow/build.n
/tools/flow/SwfImports.hx
haxe_build.hxml
FlowJsProgram.js
FlowJsProgram.hx
_webfontconfig_tmp.json
_styles_tmp.json
