!www/sw.min.js
.compile-errors
.DS_Store
.vscode
*_local.*
*-local.*
*.bak
*.bytecode
*.class
*.creator
*.debug
*.files
*.flow-callgraph
*.flow-ids
*.flow.byte
*.includes
*.js.map
*.o
*.psess
*.pyc
*.sublime-workspace
*.swp
*.tmp
*.VC.db
*.vcxproj.user
*.vsp
*.vspx
**/.vs
*~
/.log
/build-QtByteRunner-Desktop*-Debug
/build-QtByteRunner-Desktop*-Release
/build-QtByteRunnerCgi-Desktop_*-Debug
/build-QtByteRunnerCgi-Desktop_*-Release
/haskellgen
/object/
/platforms/build-*
/platforms/common/cpp/asmjit
/platforms/csharp/flowgen
/platforms/src/build.n
/platforms/src/SwfImports.hx
/QtByteRunner*-build-*/*
/sandbox/chesstrainer/chess/MakeProbes/MakeProbes/bin
/sandbox/chesstrainer/chess/MakeProbes/MakeProbes/obj
/tools/flowc/objc/*
a.out
gmon.out
javagen/
Manifest.txt
obj/
objc/
platforms/build-QtByteRunner-Desktop_*/
tmp.flow
www/*.js
