*.includes
*.files
*.creator
*-local.*
*.byte
*.bytecode
*.class
*.debug
*.formtest
*.js.map
*.o
*.bak
*.pyc
*.sublime-workspace
*.tmp
*.swp
*_local.*
*~
.vscode
.compile-errors
.DS_Store
/bin/flowrunner.n
/flow.tar.gz
/lib/wigi/unittest/laststep.test
/object/
/QtByteRunner*-build-*/*
/QtByteRunner/*.pro.user
/QtByteRunner/android/.idea
/QtByteRunner/android/bin
/QtByteRunner/android/*.iml
/QtByteRunner/android/.gradle
/QtByteRunner/android/local.properties
/QtByteRunner/android/.idea/workspace.xml
/QtByteRunner/android/.idea/libraries
/QtByteRunner/android/.DS_Store
/QtByteRunner/android/build
/QtByteRunner/android/captures
/QtByteRunner/android/.externalNativeBuild
/QtByteRunner/android/app/src/main/obj
/QtByteRunner/android/app/src/main/libs/armeabi-v7a/
/QtByteRunner/android/app/src/main/jni/flowgen
/QtByteRunner/bin/linux
/QtByteRunner/bin/mac/Makefile
/QtByteRunner/bin/mac/moc_*.cpp
/QtByteRunner/Debug
/QtByteRunner/Release
/QtByteRunner/asmjit
/QtByteRunner/x64
/QtByteRunner/GeneratedFiles
/QtByteRunner/ios/flow.xcodeproj/*xc*
/QtByteRunner/ios/build
/QtByteRunner/ios/tmp
/QtByteRunner/ios/out
/QtByteRunner/ios/default.b
/QtByteRunner/ios/*.number
/QtByteRunner/run-display.bat
/QtByteRunner/ios/flow/xcworkspace/xcuserdata
/QtByteRunner/ios/flow.xcodeproj/xcuserdata
/QtByteRunner/ios/Pods/Pods.xcodeproj/xcuserdata
/QtByteRunner/ipch
/sandbox/chesstrainer/chess/MakeProbes/MakeProbes/bin
/sandbox/chesstrainer/chess/MakeProbes/MakeProbes/obj
/src/build.n
/src/SwfImports.hx
/www/FlowFlash.swf
/www/js/flowrunner.js
www/regressiontest/data/*
flow-yz.sublime-project
flow.sublime-workspace
javagen/
regressiontest/python/_teststatus.json
regressiontest/python/simtest.settings
tmp.flow
tools/formtester/c.bat
tools/formtester/d.bat
tools/formtester/formtester.sublime-workspace
tools/formtester/formtester_display.flow
tools/formtester/ft_display.flow
tools/formtester/old*
tools/formtester/old/create_formtest.flow
tools/formtester/run-display.bat
tools/formtester/temp/*
tools/formtester/tests/test.flow
tools/formtester/~*
/tools/flowc/objc/*
obj/
/haskellgen
/build-QtByteRunner-Desktop*-Debug
/build-QtByteRunner-Desktop*-Release
/build-QtByteRunnerCgi-Desktop_*-Debug
/build-QtByteRunnerCgi-Desktop_*-Release
*.dark_idestate
*.dark_recent
*.flow-callgraph
*.flow-ids
objc/

*.VC.db
**/.vs
/src/csharp/flowgen

a.out
**/My Amplifier Results - Tests/*
*.psess

*.vsp
*.vspx
*.vcxproj.user
*.obj
gmon.out
/www/node/node_modules
flowtools/src/_build/
QtByteRunner/bin/mac/.qmake.stash
QtByteRunner/bin/mac/moc_predefs.h
QtByteRunner/ios/flow.xcworkspace/xcuserdata/stanislavpodolia.xcuserdatad/xcschemes/xcschememanagement.plist
QtByteRunner/ios/flow.xcworkspace/xcuserdata/stanislavpodolia.xcuserdatad/UserInterfaceState.xcuserstate
QtByteRunner/ios/flow.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
QtByteRunner/ios/flow.xcworkspace/xcuserdata/stanislavpodolia.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
resources/dfont/MaterialIcons
resources/dfont/Roboto
resources/dfont/RobotoMedium
QtByteRunner/QtByteRunner.pro.user.4.8-pre1
