resource-file=resources/resourceroboto.swf
fontconfig-file=resources/fontconfig.json
flowcompiler=flowc

java-dependencies += jar[gson-2.11.0.jar]
java-dependencies += jar[json-simple-1.1.jar]
java-dependencies += jar[commons-codec-1.17.1.jar]
java-dependencies += jar[bcprov-jdk18on-1.76.jar]
java-dependencies += jar[java-jwt-4.4.0.jar]
java-dependencies += jar[jackson-databind-2.17.2.jar]
java-dependencies += jar[jackson-core-2.17.2.jar]
java-dependencies += jar[jackson-annotations-2.17.2.jar]
