resource-file=resources/resourceroboto.swf
fontconfig-file=resources/fontconfig.json
flowcompiler=flowc

java-builder=gradle

java-dependencies += gradle[com.google.code.gson:gson:2.11.0]
java-dependencies += gradle[com.googlecode.json-simple:json-simple:1.1]
java-dependencies += gradle[commons-codec:commons-codec:1.17.1]
java-dependencies += gradle[org.bouncycastle:bcpkix-jdk18on:1.76]
java-dependencies += gradle[com.auth0:java-jwt:4.4.0]
