include=lib/material,lib/material/iscript_panel,lib/material/demos,lib/material/filesystemdb,lib/material/flowschema,lib/material/feedback,lib/material/drive,lib/material/oauth,lib/material/mwigi,lib/material/admin_panel,lib/material/livedocs,lib/material/kanban,lib/material/custom_fonts,lib/material/master_key,lib/material/world_accessible,lib/material/teams,lib/material/mail_editor,lib/material/translationtool
resource-file=resources/resourceroboto.swf
fontconfig-file=resources/fontconfig.json
media-path=lib/material
flowcompiler=flowc
server=0