".source.flow":
  cast:
    prefix: "cast"
    body: "cast (${1:$TM_SELECTED_TEXT} : ${2:Type} -> ${3:Type})"
  export:
    prefix: "export"
    body: '''
      export {
      	${1:$TM_SELECTED_TEXT}
      }
      
    '''
  "if … else":
    prefix: "ife"
    body: '''
      if (${1:true}) {
      	${2:$TM_SELECTED_TEXT}
      } else {
      	${3}
      }
    '''
  if:
    prefix: "if"
    body: '''
      if (${1:true}) {
      	${0:$TM_SELECTED_TEXT}
      }
    '''
  switch:
    prefix: "switch"
    body: '''
      switch (${1:exp} : ${2:Type}) {
      	${3:Struct}(${4:var}): {
      		${5:$TM_SELECTED_TEXT}
      	}${6}
      }
    '''
