html {
	height: 100%;
	margin-bottom: 1px;
	}

body {
	margin-top: 0;
	padding: 0;
	font-family: "Georgia", "Bitstream Vera Sans", sans-serif;
	line-height: 1.5em;
	color: #000;
	background-color: #fff8ee;
	min-width: 500px;
	}

sup {
	line-height: 0px;
	}
sup a:link {
	padding: 3px;
	}
sup a:visited {
	padding: 3px;
	}

p {
 	margin: 0 0 1.6em 0;
	padding: 0;
	}

h1 {
	font-family: "Gill Sans", "Gill Sans Std", "Gill Sans MT", Georgia, serif;
	font-size: 1.55em; /* was 1.46em for Georgia */
	line-height: 1.5em;
	text-align: left;
	font-weight: normal;
	margin: 0em 0px 1em 0px;
	}

h2 {
	font-family: "Gill Sans", "Gill Sans Std", "Gill Sans MT", Verdana, "Bitstream Vera Sans", sans-serif;
	font-size: 1.1em; /* 1 */
	text-align: left;
	font-weight: normal;
	line-height: 1.8em;
	letter-spacing: .2em;
	margin: 2em 0 1em 0;
	text-transform: uppercase;
	}

h1 + h2 {
	margin-top: 2em;
	}
h2 + h3 {
	margin-top: 1.5em;
	}

h3 {
	font-family: "Gill Sans", "Gill Sans Std", "Gill Sans MT", Verdana, "Bitstream Vera Sans", sans-serif;
	font-size: .91em;
	text-align: left;
	font-weight: normal;
	line-height: 1.8em;
	letter-spacing: .2em;
	margin-bottom: 1.4em;
	margin-top: 3em;
	text-transform: uppercase;
	}


p + h3 {
	margin-top: 4em;
	}
pre + h3 {
	margin-top: 4em;
	}

h6 + h2 {
	margin-top: 2em;
	}


h4, h5, h6 {
	font-family: Verdana, "Bitstream Vera Sans", sans-serif;
	font-size: 1em;
	text-align: left;
	font-weight: bold;
	line-height: 1.8em;
	margin: 2em 0 0 0;
	}

strong {
	font-weight: normal;
	font-size: .91em;
	letter-spacing: .2em;
	text-transform: uppercase;
	}

em em {
	font-style: normal;
	}

strong strong {
	font-weight: bold;
	}

blockquote {
	font-size: 1em;
	margin: 2em 2em 2em 1em;
	padding: 0 .75em 0 1.25em;
	border-left: 1px solid #777;
	border-right: 0px solid #777;
	}

blockquote strong {
	font-weight: bold;
	font-size: 1em;
	letter-spacing: normal;
	text-transform: none;
	}

cite {
	font-weight: normal;
	font-style: italic;
	}

img {
	margin-top: 5px;
	}

thead {
	font-weight: bold;
	}

pre {
	font-family: "Bitstream Vera Sans Mono", Courier, Monaco, ProFont, "American Typewriter", "Andale Mono", monospace;
	line-height: 1.45em;
	color: #222;
	background-color: inherit;
	margin: 1.5em 0 1.5em 0;
	padding: 5px 0 5px 10px;
	border-width: 1px 0 1px 0;
	border-color: #6b6b6b;
	border-style: dashed;
	}

code {
	font-family: Monaco, ProFont, "Bitstream Vera Sans Mono", "American Typewriter", "Andale Mono", monospace;
	font-size: 0.81em; /* 1.09em for Courier */
	color: #229;
	}


ul {
	list-style-type: square;
	}

ul ul {
	list-style-type: square;
	}
ul ul ul {
	list-style-type: square;
	}

hr {
	height: 1px;
	margin: 2em 1em 4em 0;
	text-align: center;
	border-color: #777;
	border-width: 0;
	border-style: dotted;
	}

hr.ookiaks {
	color: #bbb;
	margin: 7em 0 11em 0;
	padding-right: 2em;
	height: 0;
	border-width: 0;
	background-color: inherit;
	}
hr.ookiaks-jr {
	color: #bbb;
	background-color: inherit;
	margin: 1em 0 5em 0;
	padding-right: 2em;
	height: 0;
	border-width: 0;
	}

/*
	hr.ookiak:after rule that use content: to display bullets
	is specified in a separate style sheet, saves as UTF-8 with
	BOM. That way this main sheet can be saved without BOM.
*/

fieldset {
	border: 1px dotted #777;
	padding: 1em 1em .5em 1em;
	margin: 0 0 2.5em 0;
	}

fieldset p {
	margin-bottom: 0;
	padding-bottom: 1em;
	}

legend {
	color: #aaa;
	background-color: inherit;
	font-weight: normal;
	font-size: .91em;
	letter-spacing: .2em;
	text-transform: uppercase;
	}

dt {
	font-family: Verdana, "Bitstream Vera Sans", sans-serif;
	font-size: 1em;
	text-align: left;
	font-weight: normal;
	margin: 0 0 .4em 0;
	letter-spacing: normal;
	text-transform: none;
	}
dd {
	margin: auto auto 2.5em 2em;
	}

dd p {
	margin: 0 0 1em 0;
	}

input, select  {
	font-size: 1em;
	}
input[type="text"], input[type="password"]   { background-color: #ddd; }
/*
input[type="submit"] { background-color: #ccc;  border-width: 1px; }
*/
select { background-color: #ddd; }

td {
    font-size: small;
}