*:not(BODY):not(HTML) {
	position: fixed;
}

BODY {
	overflow: hidden;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke: 0.15px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	margin: 0px;
	padding: 0px;
}

DIV {
	white-space: nowrap;
}

INPUT, TEXTAREA {
	outline: none; 
	font-size: inherit;
	font-family: inherit;
	background-color: inherit;
	color: inherit;
	border: none;
	margin-top: -1px;
	padding: 0px;
	pointer-events: auto;
	-webkit-font-smoothing: antialiased;
}

INPUT::-ms-clear, INPUT::-ms-reveal {
	width : 0;
	height: 0;
	display: none;
}

IFRAME {
	z-index: 1;
	pointer-events: auto; /* In case it's inside container with pointer-events:none*/
}

CANVAS {

}

*:focus {
	outline: 0px;
}

#flow {

}

.hiddenByAlpha {
	display : none;
}

.accessButton {
	pointer-events: none;	/*It should not catch events*/
	background-color: transparent;
	border-style: none;
	display: block;
}

.accessElement {
	pointer-events: none;	/*It should not catch events*/
}

.focused {
	border-style: solid;
	border-color: #0098d0;
	border-width: 2px;
	box-shadow: 0px 0px 4px;
}
