@font-face
{
	font-family: MHEelemsansRegular;
	src: url('resources/MHEelemsans-Regular.otf');
}

BODY {
	overflow: hidden;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-text-stroke: 0.35px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	margin: 0px;
	padding: 0px;
}

DIV {
	position: absolute;
	white-space: nowrap;
}

INPUT, TEXTAREA {
	outline: none; 
	font-size: inherit;
	font-family: inherit;
	background-color: inherit;
	color: inherit;
	border: none;
	position: absolute;
	margin-top: -1px;
	padding: 0px;
	pointer-events: auto;
}

IFRAME {
	position: absolute;
	z-index: 1;
}

CANVAS {
	position: absolute;
}

OBJECT {
	position: absolute;
}

*:focus {
	outline: 0px;
}

#flow {
	overflow: hidden;
}

.hiddenByAlpha {
	display : none;
}
