/* *:not(body):not(html) {
	position: fixed;
} */

html {
	overflow: hidden;
	touch-action: pan-x pan-y;
	overscroll-behavior-x: none;
}

html, body {
	height: 100%;
	width: 100%;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke: 0.0px;
	-webkit-user-select: none;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-user-select: none;
	-ms-user-select: none;
	margin: 0px;
	padding: 0px;
}

div {
	white-space: nowrap;
}

input, textarea {
	outline: none;
	font-size: inherit;
	font-family: inherit;
	background-color: inherit;
	color: inherit;
	border: none;
	margin-top: -1px;
	padding: 0px;
	pointer-events: auto;
	touch-action: pan-x pan-y;
	-webkit-font-smoothing: antialiased;
}

input::-ms-clear, input::-ms-reveal {
	width : 0;
	height: 0;
	display: none;
}

iframe {
	z-index: 1;
	pointer-events: auto; /* In case it's inside container with pointer-events:none*/
	-ms-user-select: text;
}

svg {
	overflow: visible;
}

*:focus {
	outline: 0px;
}

.hiddenByAlpha {
	display : none;
}

.accessButton {
	pointer-events: none;	/*It should not catch events*/
	background-color: transparent;
	border-style: none;
	padding: 0px;
	margin: 0px;
	display: block;
}

.accessElement {
	pointer-events: none;	/*It should not catch events*/
}

.nativeWidget {
	transform-origin: left top;
	position: absolute;
	padding: 0px;
	margin: 0px;
	pointer-events: none;
	display: block;
	cursor: inherit;
	left: 0px;
	top: 0px;
	transform: none;
	z-index: inherit;
	-webkit-print-color-adjust: exact;
}

img.nativeWidget {
	transform: matrix(1, 0, 0, 1, 0, 0);
}

.nativeWidget > svg {
	position: relative;
}

.nativeScroll {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
	scrollbar-width: none;  /* Firefox */
}
.nativeScroll::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.textWidget {
	white-space: pre;
	font-family: Roboto;
	font-weight: 400;
	font-style: normal;
	direction: ltr;
	text-align: start;
	background: none;
}

.textBackgroundWidget {
	position: absolute;
	color: rgba(0, 0, 0, 0.0);
}

.focused {
	outline-style: solid;
	outline-color: #0098d0;
	outline-width: 2px;
	box-shadow: 0px 0px 4px;
}

.baselineWidget {
	display: inline-block;
	position: relative;
}

.inlineWidget {
	display: inline;
	position: relative;
	pointer-events: auto;
}

:root {
    --sat: env(safe-area-inset-top);
    --sar: env(safe-area-inset-right);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);
}

ps-par, ps-sen {
	display: inline;
	position: relative !important;
	white-space: pre-wrap;
}

@media print {
	.print-page {
		position: relative !important;
		page-break-after: always;
		left:0 !important;
		top:0 !important;
	}
}

.stage * {
	position: static;
}

.stage div {
	white-space: initial;
}

.stage .nativeWidget {
	position: relative;
}

.stage .nativeWidget .nativeWidget {
	position: absolute;
}

.stage .cols {
	display: flex;
}

.stage .group {
	display: grid;
}

.stage .group > * {
	grid-column: 1;
	grid-row: 1;
}

dialog {
	background-color: transparent;
	border: none;
	max-width: none;
	max-height: none;
}

dialog::backdrop {
	width: 0px;
	height: 0px;
}

.snackbar {
	position: fixed;
}

.dialog_title:focus {
	outline: solid black 2px;
	border-radius: 4px;
}

input.no_numeric_arrows::-webkit-inner-spin-button,
input.no_numeric_arrows::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

@media print {
	.printNeutral {
		width: 0px !important;
		position: relative;
		display: inline-block;
		vertical-align: top;
	}

	.printNeutral > div {
		position: absolute !important;
	}
}

/* The three below are for proper wigi text highlighting and selection stacking */

.paragraphViewDiv {
	z-index: unset;
}

.paragraphSelection {
	z-index: -2;
}

.textBackgroundLayer {
	z-index: -3;
	position: absolute;
}

input:root {
	--text-color: unset;
	--background-color: unset;
}

/* Workaround for Chrome autofill color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
	-webkit-text-fill-color: var(--text-color) !important;
	box-shadow: 0 0 0px 1000px var(--background-color) inset;
}

input::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

#debugClip br {
	position: relative;
}