<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="McGraw-HillEducation.MHESmartBook" Publisher="CN=40CD84DB-C8D5-4A33-9354-6243F1A9EDA6" Version="1.1.28.0" />
  <mp:PhoneIdentity PhoneProductId="aa3825a1-2d97-4c71-8c99-578135b28cd8" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>MHE SmartBook</DisplayName>
    <PublisherDisplayName>McGraw-Hill School Education</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.10069.0" MaxVersionTested="10.0.10069.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
    <!-- <Resource uap:Scale="180" /> 
    <Resource uap:DXFeatureLevel="dx11" /> -->
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="WindowsApp.App">
      <uap:VisualElements DisplayName="SmartBook" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="Adaptive Learning" BackgroundColor="transparent">
        <uap:LockScreen Notification="badge" BadgeLogo="Assets\BadgeLogo.png" />
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\Square71x71Logo.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <!-- <uap:SplashScreen Image="Assets\SplashScreen.png" /> -->
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape" />
          <uap:Rotation Preference="landscapeFlipped" />
        </uap:InitialRotationPreference>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <uap:ApplicationContentUriRules>
        <uap:Rule Match="http://*.mhlearnsmart.com" Type="include" WindowsRuntimeAccess="none" />
        <uap:Rule Match="https://*.mhlearnsmart.com" Type="include" WindowsRuntimeAccess="none" />
        <uap:Rule Match="https://*.area9.dk" Type="include" WindowsRuntimeAccess="none" />
      </uap:ApplicationContentUriRules>
      <Extensions>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="smartbook">
            <uap:DisplayName>SmartBook</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>