include=../../material,../../material/oauth/,../../material/admin_panel/,../../material/kanban/,../../material/drive/,../../material/feedback/,../../kanban_app/,../../material/custom_fonts/,../../material/mwigi/,../../material/livedocs/,../../material/flowschema/,../../material/content_indexer/,../../material/filesystemdb/,../../material/prime/,../../flow
resource-file=../../material/resources/resourceroboto.swf
fontconfig-file=../../material/resources/fontconfig.json
media-path=../../material
flowcompiler=flowc