include=../material,../material/iscript_panel,../material/demos,../material/filesystemdb,../material/flowschema,../material/feedback,../material/drive,../material/oauth,../material/mwigi,../material/admin_panel,../material/livedocs,../material/kanban,../material/custom_fonts,../material/master_key,../material/world_accessible,../material/teams,../material/mail_editor,../material/translationtool
resource-file=../material/resources/resourceroboto.swf
fontconfig-file=../material/resources/fontconfig.json
media-path=../material
flowcompiler=flowc
server=0